.sidebar-container {
  min-width: 200px;
  background-color: #730099;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-container > div {
  margin: 20px 0;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-container > div:hover {
  color: #ffccff;
}

.sidebar-container > div > span {
  margin-left: 5px;
}
